* {
    font-size: 32px;
    font-family: 'Courier New';
}

body{
    margin: 0;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.selections {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

button {
    width: 200px;
    height: 200px;
    background-color: #dddddd;
    border-style: solid;
    border-width: 10px;
    border-color: #808080;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}